.yipai__spaceblog_container{
    margin: 15px;

}
.spaceblog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.spaceblog img{
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.spacebox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background: #fff;
    margin: 10px;
}

.spacetext{
    font-family: var(--font-family);
    margin: 25px;
}
.button-style{
    font-family: var(--font-family);
    background: #C9D7E3;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    border: none;

    /* margin: 15px; */
    padding: 15px;


}


@media screen and (max-width: 990px) {
    .spaceblog{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        
    }
    
    .spaceimg1{
        max-width: 100%;
    
        margin:0 15px;
        width: 350px;
        height: 300px;
        
    }
    .spaceimg2{
        max-width: 100%;
        margin:0 15px;
        width: 350px;
        height: 300px;
        
    }

    
}

@media screen and (max-width: 700px) {
    .yipai__spaceblog_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .spaceimg1{
        max-width: 100%;
        object-fit: cover;
        margin:10px;
        width: 350px;
        height: 300px;
        

    }
    .spaceimg2{
        max-width: 100%;
        object-fit: cover;
        margin:10px;
        width: 350px;
        height: 300px;
        
    }
}

@media screen and (max-width: 550px) {
    .yipai__spaceblog_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
    }

    .spacebox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 250px;
        height: 250px;
        background: #fff;
        margin-top: 14rem;
    }

    .button-style{
        font-family: var(--font-family);
        background: #C9D7E3;
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
        border: none;
        margin-top: 6rem;
        /* margin: 15px; */
        padding: 18px;
    
    
    }
}