.body{
    display: flex;
    margin: 0;
}

.bigimg img{
    padding-top: 2.6rem;
    width: 400px;
    height: 500px;
}

.products_grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    /* margin: px; */

}

.flex-col{
    display: flex;
    justify-content: center;
    align-items:center;
   
    
}
.yipai__title-text{
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: 800;
    line-height: 20.30px;
    /* color: #000; */
    background: transparent;
    padding: 2rem;
    cursor: pointer;
}


.yipai__productsbox{    
    /* background: #000; */
    object-fit: cover;
    margin: 15px;
    width: 270px;
    
}


.yipai__productsbox img{
    width: 300px;
    height: 300px;
}


.slide img{
    object-fit: cover;
}

.productsblog__carousel-img img{
    width: 400px;
    height: 600px;
}

@media screen and (max-width: 1300px) {
    .products_grid{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1,1fr);
        margin:auto;
    
    }
}
@media screen and (max-width: 990px) {
    .flex-col{
        /* flex-wrap: wrap; */
    }
    /* .yipai__productsbox p{
        height: 20px;
    } */

    .products_grid{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2,1fr);
        margin: auto;
    
    }
    .yipai__productsbox{
        object-fit: cover;
        /* background: #000; */
        width: 170px;
        height: 170px;
        margin: 5px;
        
    }
    .yipai__productsbox img{
        width: 170px;
        height: 170px;
    }
}

@media screen and (max-width: 700px) {
    .flex-col{
        flex-wrap: wrap;
    }
    .products_grid{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3,1fr);
        margin: auto;
    
    }
    .yipai__productsbox{
    
        /* background: #000; */
        width: 130px;
        height: 130px;
        margin: 5px;
        
        
    }

    .yipai__productsbox img{
        width: 130px;
        height: 130px;
    }
    .bigimg img{
        width: 250px;
        height: 400px;
    }



    .bigimg p{
        padding-right: .1rem;
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    .body{
        display: flex;
        flex-direction: column;
    }
    .flex-col {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .products_grid{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1,1fr);
        margin: auto;
        
    
    }

    .yipai__blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }
    .yipai__productsbox{
        /* background: #000; */
        width: 250px;
        height:250px;
        margin: 5px;
            
    }
    .yipai__productsbox-text{
        /* background: #000; */
        width: 250px;
        height:70px;
        margin: 5px;
            
    }
    .yipai__productsbox img{
        width: 250px;
        height: 250px;
    }


    .bigimg p{
        font-size: 18px;
        /* line-height: normal; */
        margin-left: 32px;
    }
   
}