body {
    margin: 0;
  }

.margin-50{
    margin: 50px;
}

.margin-top-30{
    margin-top: 30px;
}

.iconStyle-title{
    margin-bottom: 10px;
    margin-right: 10px;
    font-size:45px;
}

.keepbuying-button {
    background: transparent;
    margin: 3rem;
}

.flex-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-color thead{
    background: #C9D7E3;
}


.line-height-50{
    line-height: 50px;
}



.text-right{

    text-align:right;
}

.footer-floor2 {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: #edecea;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  z-index: 99;

  }
  
  .footer-floor2 a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* .footer-floor2 a:hover {
    background: #f1f1f1;
    color: black;
  } */
  
.footer-floor2 button {
  
  background-color: #C9D7E3;
  color: #0e0e0e;
  padding:0px 15px 0px 15px ;
  border: 2px solid #0e0e0e;
  border-radius: 10px;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}
.footer-floor1 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #fafafa;
  position: fixed;
  bottom:49.5px ;
  left: 0;
  width: 100%;
  z-index: 99;
}

.footer-floor1 a {
  float: left;
  display: block;
  color: #0e0e0e;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

.footer-floor1 a:hover {
  background: #f1f1f1;
  color: black;
}

.footer-floor1 a.active {
  background-color: #C9D7E3;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.close-icons{
  width: 23px;
  height: 23px;
}

.color-gray{
  color: gray;
}

.tables-text-size {
  font-size:20px ;
}

.table-prodcuts{
  width: 70px;
}
.table-prodcuts img{
  width: 100%;
  height: 100%;
  
}
.cart__likebox{
  display: flex;
  justify-content: center;
  background: #fff;
}

.cart__products{
  margin: 30px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  height: 30rem;
  padding-bottom: 1.3rem;
  background: rgba(255, 255, 255, 0.6);

  /* background: #000; */
}

.cart__products-carousel{
  width: 350px;
  margin: 25px 0 0 0;
}

.cart__h4{
  margin-top: 30px;
  /* margin-bottom: 30px; */
}

.cart__products-img img{
  border-radius: 3rem;
  object-fit: cover;
  width: 16rem;
  height: 16rem;
  border: #000 solid 2px;
  
}
.cart__products-img p{
  text-align: center;
  margin-top: 1rem;
}


.cart__peview img{
  border: #000 solid 3px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 1rem;
}


@media screen and (max-width: 1600px) {
  .cart__products-img img{
      
    border-radius: 1rem;
    object-fit: cover;
    width: 12rem;
    height: 12rem;
  }
}
@media screen and (max-width: 1300px) {
  .cart__products-img img{
      
    border-radius: 1rem;
    object-fit: cover;
    width: 10rem;
    height: 10rem;
  }
  .cart__products-img p{
    font-size: 10px;
  }
}
@media screen and (max-width: 1100px) {
  .cart__products-img img{
      
    border-radius: 1rem;
    object-fit: cover;
    width: 8rem;
    height: 8rem;
  }
}
@media screen and (max-width: 990px) {
  .cart__products-img img{
      
    border-radius: 1rem;
    object-fit: cover;
    width: 6rem;
    height: 6rem;
  }
  
.cart__peview img{
  border: #000 solid 3px;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 1rem;
}
}

@media screen and (max-width: 700px) {

    
    .flex-text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
  
    .cart__products-img img{
      border-radius: 1rem;
      object-fit: cover;
      width: 5rem;
      height: 5rem;
    }
    .cart__products-img p{
      font-size: 3px;
    }

    
.cart__peview img{
  border: #000 solid 3px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 1rem;
}


}

@media screen and (max-width: 550px) {
    .keepbuying-button {
        background: transparent;
        margin: 0.5rem;
    }    

    .display-none{
        display: none;
    }
    .footer-floor1{ 
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        background-color: #fafafa;
        position: fixed;
        bottom:42px ;
        left: 0;
        width: 100%;
    }
    .footer-floor1 a, 
    .footer-floor2 a{ 
        font-size: 12px;
    }



    .cart__products{
      /* height: 130vh; */
      display: flex;
      justify-content: center;
      align-items: center;
      /* flex-direction: row; */
      /* background: #000; */
    }
    

    .cart__products-img img{
      
      border-radius: 1rem;
      object-fit: cover;
      width: 10rem;
      height: 10rem;
    }
    
    .cart__display-none{
      display: none;
    }
    .cart__peview img{
      border: #000 solid 1px;
      width: 30px;
      height: 40px;
      object-fit: cover;
      margin: 2px;
    }


}
