._buyLogin_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

._buyLogin_h3 {
    margin: 0.5em 0 0.5em 0;
    font-size: var(--text-h1);
}
._buyLogin_h4 {
    margin: 0.6em 0 0.6em 1em;
    font-weight: bold;
    font-size: var(--text-h2);
}
._register_registerIcon {
    width: 100%;
    height: 100px;
    background-color:var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0 10px 10px -5px rgba(152, 151, 151, 0.5);
}

._register_BG {
    background-image: url(../image/LoginBG.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
    height: 100vh;
    position: relative;
}
._register_buyerbox {
    position: absolute;
    width: 32em;
    height: 40em;
    top: calc(50% - 20em);
    left: calc(50% - 16em);
    background-color: var(--color-text);

}
._register_flex{
    text-align: center;
}

._register_inputBox {
    margin-top: 60px;
    background: var(--color-bg);
    border: 0em;
    width: 15em;
    height: 3em;
    font-size: var(--text-h2);
}
._register_inputBox2 {
    margin-top: 15px;
    background: #eaeaea;
    border: 0em;
    width: 15em;
    height: 3em;
    font-size: var(--text-h2);
}
._register_btn {
    background: var(--color-bg);
    border: 0em;
    width: 15em;
    height: 3em;
    margin-top: 3em;
    margin-bottom: 0.5em;
    font-size: var(--text-h2);
}
._register_headIcon {
    background-image: url(../image/addFileIcon.svg);
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    z-index: 3;
    position: absolute;
    right: 0;
    cursor: pointer;
}
._register_registerIconï¼¿text{
    margin:1px 0  0 5px;
}
._register_headImg {
    z-index: 0;
}
._register_buyerControlBtn {
    border: 0;
    color: var(--color-text);
    background-color: #000;
    width: auto;
    height: 3em;
    padding: 0 1em 0 1em;
    border-radius: 0.6em;
    margin: 0 1em 0 1em;
}
:active._register_buyerControlBtn {
    background-color: var(--color-bg);
}
._register_ChangeControlBtn {
    border: 0;
    color: var(--color-bg);
    background-color: #000;
    width: auto;
    padding: 0.5em;
    border-radius: 0.6em;
}
:active._register_ChangeControlBtn {
    background-color: var(--color-bg);
}
._register_Titlebox {
    background-color: var(--color-bg);
    margin: 2em 0 0 0;
    /* width: 35em; */
    padding: 0 2em 0 2em;
    height: 3.5em;
}
._register_Contentbox{
    background-color: #eaeaea;
    padding: 0 2em 0 2em;
    /* width: 35em; */
    height: 20em;
}
._register_SettingInput{
    width: 8em;
}
