/* .container {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    background: #F9F7F2;
  } */

/* main */
.artist-main-content {
  display: flex;
  margin: auto;
  height: auto;
  margin-top: 10px;
}

.artist-aside-menu {
  width: 30vw;
  text-align: center;
  margin: 50px 50px;
}
/* artist-banner */
.artist-banner {
  width: 100%;
  height: 100vh;
}
.artistImg {
  height: 100%;
  background-image: url("./artist_main.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.button-new-old {
  min-width: 100px;
  max-width: 100px;
  height: 40px;
}
.artist-card-img-top {
  object-fit: cover;
  width: 300px;
  height: 180px;
  overflow: hidden;
}
.artist-card-img-body {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.artist-row{
  --bs-gutter-x:0;
  justify-content: center;
  align-items: center;
}
.artist-page-item a {
  color: white;
  background-color: #000;
}
.artist-card-body{
  margin-top: 10px;
  width: 300px;
}
.artist-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.justify-content-space-evenly{
  justify-content: space-evenly;
}
.artist-card-text{
  max-width: 150px;
}
@media screen and (max-width: 1440px) {
  .artist-banner {
    height: 80vh;
  }

  .artist-card-img-top {
    object-fit: cover;
    width: 300px;
    height: 180px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1080px) {
  .artist-banner {
    height: 80vh;
  }
  .artist-card-img-top {
    background-size: cover;
    width: 300px;
    height: 160px;
  }
  .artist-card-body{
    width: 100%;
  }
  .artist-main-content {
    height: auto;
  }
}
@media screen and (max-width: 780px) {
  .artist-banner {
    height: 70vh;
  }
  .artist-card-img-top {
    background-size: cover;
    width: 300px;
    height: 220px;
  }
}

@media screen and (max-width: 500px) {
  .artist-main-content {
    display: inline-block;
    height: auto;
  }
  .artist-banner {
    height: 30vh;
  }
  .artistImg {
    height: 100%;
    background-image: url("./artist_main.png");
    background-repeat: no-repeat;
    background-size: contain;;
  }
  .artist-aside-menu {
    display: none;
  }
  .artist-card-img-top {
    background-size: cover;
    width: 100%;
    height: 220px;
  }
  .artist-card {
    margin: auto;
    width: 300px;
  }
}

/*ArtistDetail */
.artist-country {
  color: #cab296;
}
.artist-born {
  color: #f9f7f2;
}
.artist-name {
  color: #f9f7f2;
}
.artist-detail-aside-pic {
  width: 100%;
  background-size: cover;
}
.artist-detail-img {
  position: relative;
}
.artist-detail-name {
  /* color: black; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  text-align: center;
}
.artist-detail-name h1 {
  font-size: 60px;
}
.artist-detail-name h2 {
  font-size: 40px;
}

/*ArtistDetail detail-intro */
.detail-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.detail-intro-text {
  width: 80%;
  line-height: 40px;
  margin-top: 20px;
}
.detail-intro-title {
  padding-top: 20px;
  font-weight: 900;
  font-size: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 121.3%;
  /* or 53px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.155em;
  text-transform: lowercase;
}
.detail-intro-body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 126.8%;
  /* or 22px */

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: lowercase;
}
.detail-intro-text h6 {
  font-size: 20px;
  margin: 10px 0px;
}
.detail-intro-title-6 {
  font-size: 18px;
}

/* icon */

.artistHead {
  background-image: url("./artist_head.png");
  height: 50%;
  background-repeat: no-repeat;
}
.icon {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  /* align-items: flex-end; */
}
.artist-collect,
.artist-share {
  margin: 5px;
}
.artist-FaHeart_icon,
.artist-share_icon {
  width: 36px;
  height: 20px;
  margin-bottom: 5px;
}

.artist-text-container {
  text-align: center;
  justify-content: center;
}
.detail-intro-img {
  width: 40vw;
  max-height: 800px;
  object-fit: contain;
}
.artist-aside-pic{
  background-color: rgba(24, 24, 24, 0.31);
  filter:brightness(.3);  
}
@media screen and (max-width: 1400px) {
  .detail-intro-text {
    line-height: 30px;
  }
  .detail-intro-text h3,
  .detail-intro-title {
    font-size: 32px;
  }
}
@media screen and (max-width: 980px) {
  .artist-detail-namet- h1 {
    font-size: 50px;
  }
  .artist-detail-name h2 {
    font-size: 40px;
  }
  /* 換一行 */
  .detail-main {
    display: block;
    flex-direction: column;
  }
  .detail-intro-text {
    margin: 30px;
    padding: 0px 50px;
  }
  .detail-intro-img {
    width: 80%;
    object-fit: contain;
  }
  .detail-intro-title {
    font-size: 30px;
  }
  .detail-intro-text h6,
  .detail-intro-title-6 {
    font-size: 16px;
  }
  .detail-intro-img-body {
    text-align: center;
    justify-content: center;
    object-fit: cover;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .artist-detail-aside-pic {
    height: 300px;
  }
  .artist-aside {
    width: 110%;
  }
  .detail-intro-text {
    padding: 0px;
  }
  .artist-detail-name h1 {
    font-size: 40px;
  }
  .artist-detail-name h2 {
    font-size: 30px;
  }
  .detail-intro-img {
    height: 100%;
  }
  .detail-intro-img-body {
    text-align: center;
    justify-content: center;
  }
}