.news__text{
    font-family: var(--font-family);
    line-height: 30px;
    margin-top: 10px;
    
}
.container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
}

.yipai__img {
    /* object-fit: 100; */
    width:100%;
 }

.timer_icon{
    width: 36px;
    height: 20px;
    margin-bottom:-5px;
}
.a{
    flex-wrap: wrap;
}
.share_icon{
    width: 16px;
    height: 17px;   
}
.place{
    margin: 15px;
}
.address{
    margin: 0px;
}
.map__img {
    height: 344px;
    left: 654px;
    top: 190px;
    padding: 15px;
    /* margin-left: 350px; */
}
.row{
    display: flex;
}
.gradient__text{
    padding: 15px;
}
.icon,.place{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
}
.collect,.share{
    margin: 5px;
    
}
.FaHeart_icon,.share_icon{
    width: 36px;
    height: 20px;
    margin-bottom:-5px;
}
.palce{
margin-top: 25px;
}

@media screen and (max-width: 990px) {
    .news__text{
        width:720px ;
        margin: auto;
    }
    .map__img {
        height: 344px;
        top: 190px;
        padding: 15px;
        /* margin-left: 350px; */
    }
}

@media screen and (max-width: 700px) {
    .news__text{
        width:500px ;
        margin: auto;
    }

    .map__img {
        height: 344px;
        top: 190px;
        padding: 15px;
        /* margin-left: 350px; */
    }
}

@media screen and (max-width: 550px) {
    
    .place,.a,.yipai__img {
        /* object-fit: 100; */
        width: 550px;
        margin: 0px;
        padding: 0px;
     }
    
     #Row{
        width: 550px;
     }
     div.col{
        width: 550px;
        padding: 0px;
     }
    .news__text{
        margin: auto;
        }

    .mapC{
        width: 550px;
        height: 344px;
        right: 50px;
        top: 190px;
        padding: 0px;
        /* margin-left: 350px; */
    }
    }