  /* .container {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    background: #F9F7F2;
  } */
  

/* main */
.main-content{
    display: flex;
    margin: auto;
    height: 100vh;
    margin-top: 10px;
}
.main-card{
    display: flex;
}
.main-card-item img{
    width: 310px;
    height: 210px;
    object-fit: cover;
}

.aside-menu{
    width: 200px;
    text-align: center;
    margin: 50px 20px;
}
/* banner */
.banner {
    width: 100%;
    height: 100vh;
}
.bannerImg {
    height: 100%;
    background-image: url("./first.png");
    background-repeat:no-repeat;
    background-size:cover;
    
}

@media screen and (max-width: 1440px) {
    .banner {
        height: 80vh;
    }
    .main-card-item img{
        width: 280px;
        height: 160px;
    }

  }
@media screen and (max-width: 1080px) {
    .banner {
        height: 60vh;
    }
    .bannerImg {
        height: 100%;
    }
    .main-card-item img{
        width: 500px;
        height: 300px;

    }
    .main-content{
        height: 100%;
    }
  }
  @media screen and (max-width: 780px) {
    .banner {
        height: 45vh;
    }
  }
  
  @media screen and (max-width: 500px) {

    .main-content{
        display: inline-block;
        height: 100%;
    }
    .main-card-item-text{
        font-weight: 800;
    }
    .banner {
        height: 25vh;
    }
    .aside-menu{
        display: none;
    }
    .pagination{
        display: none;
    }
    .main-card-item img{
        width: 360px;
        height: 210px;
    }
  }
  


/*SpaceDetail */

.aside-pic{
    width: 100%;
    background-size:cover;
}
.aside{
    position: absolute;
    right: 0px;
    width: 75%;
}
.detail-img{
    position: relative;
}
.detail-name{
	color: black;
	position:absolute;
	top: 30%;
	left:10%;
    text-align: center;
}
.detail-name h1{
    font-size: 70px;
}
.detail-name h2{
    font-size: 50px;
}

/*SpaceDetail detail-map */
.detail-map{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.detail-map-text{
    width: 60%;
    line-height:40px;
    margin-top: 20px;
}
.detail-map-title{
    font-weight: 900;
    font-size: 50px;
}
.detail-map-text h6{
    font-size: 20px;
    margin: 10px 0px;
}
.detail-map-title-6{
    font-size: 18px;
}



/* icon */
.icon{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* align-items: flex-end; */
}
.collect,.share{
    margin: 5px;  
}
.FaHeart_icon,.share_icon{
    width: 36px;
    height: 20px;
    margin-bottom:5px;
}


@media screen and (max-width: 1400px) {
    .detail-map-text{
        line-height:30px;
    }
    .detail-map-text h6, .detail-map-title-6{
        font-size: 16px;
    }
}
@media screen and (max-width: 980px) {
    .detail-name h1{
        font-size: 50px;
    }
    .detail-name h2{
        font-size: 40px;
    }
    /* 換一行 */
    .detail-main{
        display: block;
        flex-direction: column;
    }
    .detail-map-text{
        margin: 30px;
        padding: 0px 50px;
    }
    .detail-map-img{
        height: 70vh;
        object-fit: cover;
    } 
    .detail-map-title{
        font-size: 30px;
    }
    .detail-map-text h6,.detail-map-title-6{
        font-size: 16px;
    }
   
}
  
@media screen and (max-width: 500px) {
    .aside-pic{
        height: 300px;
    }
    .aside{
        width: 110%;
    }
    .detail-map-text{
        padding: 0px;
    }
    .detail-name{
        display: none;
    }
    .detail-map-img{
        height: 50vh;
    }
  }
