:root{
    --text-h1:44px;
    --text-h2:20px;
    
}
._users_login-button{
margin-top: 150px;
}
._users_BG{
    background-image: url(./image/LoginBG.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
    height: 100vh;
    z-index: 0;
}
._users_h3{
    font-size: var(--text-h1);
}
._users_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
._users_flex-ab{
    display: flex;
    position: absolute;
    left: calc(50vw - ((44px * 4) + 12em));
    top:30vh;
    z-index: 3;

}
._users_text-center{
    text-align: center;
}
._users_buyerIcon{
background-image: url(./image/buyerIcon.svg);
background-repeat: no-repeat;
width: 100px;
height: 100px;
background-position: center center;
}
._users_sellerIcon{
background-image: url(./image/sellerIcon.svg);
background-repeat: no-repeat;
width: 100px;
height: 100px;
background-position: center center;

}
._users_box{
    padding: 5em;
    background-color:var(--color-bg);
}
._users_box2{
    padding: 5em;
    background-color:var(--color-text);
}
._users_box3{
    padding: 2em;
    display: flex;
    position: absolute;
    z-index: 10;
    left: calc(50vw - ((44px * 4) ));
    top:80vh;

}
._users_box3_icon{
    font-weight: bold;
}

@media screen and (max-width: 414px){
    ._users_flex-ab{
        flex-direction: column;
            display: flex;
            position: absolute;
            left: calc(10vw );
            top:15vh;
            z-index: 3;
            
    }
    ._users_box3{
        padding: 2em;
        display: flex;
        position: absolute;
        z-index: 10;
        left: calc(18vw );
        top:86vh;
    
    }
}
