.body{
    display: flex;
    margin: 0;
}

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    margin: auto;

}

.yipai__artistbox{    
    background: #000;
    width: 270px;
    height: 270px;
    margin: 15px;
    
}
.yipai__artistbox :hover::before{


}
.yipai__artistbox img{
    width: 270px;
    height: 270px;
}

@media screen and (max-width: 990px) {
    .yipai__artistbox{
    
        background: #000;
        width: 170px;
        height: 170px;
        margin: 5px;
        
    }
    .yipai__artistbox img{
        width: 170px;
        height: 170px;
    }
}

@media screen and (max-width: 700px) {
    .yipai__artistbox{
    
        background: #000;
        width: 130px;
        height: 130px;
        margin: 5px;
        
        
    }
    .yipai__artistbox img{
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width: 550px) {
    .grid{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1,1fr);
        margin: auto;
    
    }
    .yipai__blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }
    .yipai__artistbox{
        
        background: #000;
        width: 200px;
        height: 200px;
        margin: 5px;
        
        
    }
    .yipai__artistbox img{
        width: 200px;
        height: 200px;
    }

}