.body{
    display: flex;
    margin: 0;
}

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    margin: auto;

}

.yipai__artistbox{    
    /* background: #000; */
    width: 270px;
    height: 270px;
    margin: 15px;
    -webkit-box-shadow: 3px 3px 5px rgba(136, 136, 136, 0.793);
	-moz-box-shadow: 3px 3px 5px rgb(141, 141, 141);
	box-shadow: 3px 3px 5px rgb(125, 125, 125);
}
.yipai__artistbox img:hover{
    filter:alpha(Opacity=100);
    -moz-opacity:0.7;
    opacity: 0.3;

}

.yipai__artistbox img{
    object-fit:cover;
}

.yipai__artistbox-text p {
    margin: 15px;
    font-size: 23px;
    color: #CAB296;

}

@media screen and (max-width: 990px) {
    .yipai__artistbox{
    
        /* background: #000; */
        width: 170px;
        height: 170px;
        margin: 5px;
        
    }
    .yipai__artistbox img{
        width: 170px;
        height: 170px;
    }

    .yipai__artistbox-text p {
        margin: 15px;
        font-size: 23px;
        color: #CAB296;
        

    }
}

@media screen and (max-width: 700px) {
    .yipai__artistbox{
    
        /* background: #000; */
        width: 130px;
        height: 130px;
        margin: 5px;
        
        
    }
    .yipai__artistbox img{
        width: 130px;
        height: 130px;
    }
 
    .yipai__artistbox-text p {
        margin: 15px;
        font-size: 16px;
        color: #CAB296;

    }
}

@media screen and (max-width: 550px) {
    .grid{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2,1fr);
        margin: auto;
    
    }
    .yipai__blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }
    .yipai__artistbox{
        
        /* background: #000; */
        width: 200px;
        height: 200px;
        margin: 5px;
        
        
    }
    .yipai__artistbox img{
        width: 200px;
        height: 200px;
    }

    .yipai__artistbox-text p{
        margin: 15px;
        font-size: 15px;
        color: #CAB296;
    }

}