@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');

:root {
  /* --font-family: "Roboto", sans-serif; */
  --font-family: 'Noto Sans TC', sans-serif;

  --gradient-text: linear-gradient(93.97deg, #000000 1.84%, #858585 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #f9f7f2;
  --color-footer: #C9D7E3;
  --color-blog: #042c54;
  --color-text: #C9D7E3;
  --color-subtext: #ff8a71;
}
