
#ProductsDetail_section {
  font-family: var(--font-family);
  display: grid; /* 1.設定 display 為 grid */
  width: 100%;
  height: 100%;
  grid-template-areas:
                       "ProductsDetail_figure  ProductsDetail_hgroup"
                       "ProductsDetail_article  .."
                       "ProductsDetail_aside  .."
                       /* "ProductsDetail_main  ProductsDetail_main" */
                      ; /* 2.區域分為4行兩列 */
  grid-template-rows:  900px 411px 411px ; /* 3.各區域 寬高設置 */
  grid-template-columns: 755px 1fr;
 
}
#ProductsDetail_container_fluid{
  max-width:1400px;
}

#ProductsDetail_section > #ProductsDetail_figure {
  grid-area: ProductsDetail_figure;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
 
#ProductsDetail_section > #ProductsDetail_hgroup {
  grid-area:ProductsDetail_hgroup;
  display: flex;
  justify-content: center;
  position: relative;
 
}
#ProductsDetail_main{
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: center;
  position: relative;
}
.ProductsDetail_main-wrap{
  width: 100%;
  max-height: 380px;
  background-color:#EAEAEA;
}

.ProductsDetail_more{
  position: absolute;
  top:20px;
}
.ProductsDetail__card-text{
  max-width: 230px;
  padding: 10px;

}

.ProductsDetail_other-wrapp ,.ProductsDetail_addCar,.ProductsDetail_slider-pic,.ProductsDetail_main-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ProductsDetail_card-pic{
  padding: 5px;
  align-items: center;
}
p.ProductsDetail_price{
  margin-bottom:0px;
}
.ProductsDetail_nav-wrapper{
  width: 330px;
  position: absolute;
  top: 150px;
}

.ProductsDetail_addCar{
  width: auto;
  padding: 20px;
  background-color:#C9D7E3 ;
  color: rgb(0, 0, 0);
}
.ProductsDetail_addCar-bottom{
  display: none;
}

.ProductsDetail_carousel-products{
  width: 468px;
  height:570px;
  padding: 10px;
}

.ProductsDetail_page-link{
  position:absolute;
  top: 20px;
  left:50px;
  letter-spacing: 3px;
}

.ProductsDetail_other-wrapp {
  background-attachment: fixed;
  height: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.ProductsDetail_other-product{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  margin-top: 60px;
}

.ProductsDetail_card-img-top{
  width: 200px;
  object-fit:contain;
   position: relative;
  
}
.ProductsDetail_pic-img{
  max-width:100%;
  height: 230px;
  padding: 10px;
  object-fit:contain;
} 
.ProductsDetail__card-text{
  max-width:100%;
  height: 56px;
  padding:0 10px  10px  10px;
 
}


p.ProductsDetail_article{
  color:#CAB296;
  margin-bottom:0px;
}

#ProductsDetail_section > #ProductsDetail_article {
  grid-area: ProductsDetail_article;
  display: flex;
  text-align:center;
  justify-content: center;    
}
.ProductsDetail_follow{
  background-color: black;
  color:#F9F7F2;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
}
.ProductsDetail_demo-pic{
  height: 350px;
  display: flex;
  text-align:center;
  justify-content: center;   
}
.ProductsDetail_blockquote{
  width: 350px;
}
#ProductsDetail_section > #ProductsDetail_aside  {
  grid-area: ProductsDetail_aside;
  text-align:center;
  justify-content: center; 
  background-color: transparent;   
}
.ProductsDetail_card-body-wrap{
  padding: 10px;
  max-width: 400px;
}

.ProductsDetail_Detile,.ProductsDetail_aside-wrapp,.ProductsDetail_footer-wrapp{
  height:411px;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.ProductsDetail_article-wrap{
  height: 350px;
}
.ProductsDetail_more{
  margin:0px 0  15px 0;
 
}

.ProductsDetail_card-body{
  display: flex;
  align-items: center;
  justify-content: center;    
}

.ProductsDetail_d-inline{
  background-color:transparent ;
  max-width: 330px;
  
}
.ProductsDetail_demoPic{
  width: 350px;
}
.ProductsDetail_Detail-text{
  display: inline-block;
  max-width: 400px;
  justify-content: center;
  padding: 15px;
 
}
.ProductsDetail_Detail{
  display: flex;
  align-items: center;
  justify-content: center;  
  height: 350px;
  margin-top:55px;
}
.ProductsDetail_artistLink{
  width:738px;
  display: flex;
}
.ProductsDetail_artistPic{
  width:125px;
}
.ProductsDetail_card{
  background-color: transparent !important;
  border-style: none !important;
  margin: 10px;
}
.ProductsDetail_carousel-more{
  width: 300px;
}



@media screen and (max-width: 990px){
  #ProductsDetail_container_fluid{
    width:700px;
  }
  #ProductsDetail_section  {
    display: grid; /* 1.設定 display 為 grid */
    width: 100%;
    height: 100%;
    grid-template-areas:
                         "ProductsDetail_figure  ProductsDetail_hgroup"
                         "ProductsDetail_article  ProductsDetail_article"
                         "ProductsDetail_aside  ProductsDetail_aside"
                         /* "ProductsDetail_main  ProductsDetail_main" */
                        ; /* 2.區域分為4行兩列 */
    grid-template-rows: 846px 250px 411px  ; /* 3.各區域 寬高設置 */
    grid-template-columns: 350px 1fr;
  }
 
  .ProductsDetail_addCar-bottom{
    display: none;
  }
  h6 .ProductsDetail_h6{
  
    width:150px;
    height: auto;
  }
  
  .ProductsDetail_pic5,.ProductsDetail_pic6{
    display: none;
  }
  .ProductsDetail_other-product{
    margin-top: 0px;
  }

  .ProductsDetail_pic-img{
    max-width:100%;
    height: 180px;
    padding: 10px;
    object-fit:contain;
  } 
  .ProductsDetail__card-text{
    max-width:100%;
    height: 40px;
    padding:0 10px  10px  10px;
   
  }
  
  .ProductsDetail_Detail{
    width:472px;
    height: 167px;
  }
  .ProductsDetail_demoPic{
    width: 200px;
  }
  .ProductsDetail_other-wrapp {
    height: 375px;
   }

 }

@media screen and (max-width: 700px){
  #ProductsDetail_section  {
    display: grid; /* 1.設定 display 為 grid */
    width: 100%;
    height: 100%;
    grid-template-areas:
                         "ProductsDetail_figure"
                         "ProductsDetail_hgroup"
                         "ProductsDetail_article"
                         "ProductsDetail_aside"
                         /* "ProductsDetail_main" */
                        ; /* 2.區域分為4行兩列 */
    grid-template-rows: 680px 500px 311px 400px ; /* 3.各區域 寬高設置 */
    grid-template-columns: 550px ;
  }
  #ProductsDetail_container_fluid{
    width:550px;
  }
 
  .ProductsDetail_artistLink{
    width:500px;
  }
  .ProductsDetail_aside-wrapp{
    height: 311px;
  }
  
  #ProductsDetail_figure {
    position: relative;
  
  }

.ProductsDetail_pic-img{
  max-width:100%;
  height: 190px;
  padding: 10px;
  object-fit:contain;
} 
.ProductsDetail__card-text{
  max-width:100%;
  height: 40px;
  padding:0 10px  10px  10px;
 
}

  .ProductsDetail_addCar{
    display: none;
  }
  .ProductsDetail_addCar-bottom{
    padding: 20px;
    background-color:#C9D7E3 ;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
    position: fixed;
    bottom: 0;
  } 

  .ProductsDetail_pic1, .ProductsDetail_pic5, .ProductsDetail_pic6{
    display: none;
  }
 
  .ProductsDetail_p{
      font-size: 12px;
    }
  
}
@media screen and (max-width: 550px){
  #ProductsDetail_section  {
    display: grid; /* 1.設定 display 為 grid */
    width: 100%;
    height: 100%;
    grid-template-areas:
                  "ProductsDetail_figure "
                  "ProductsDetail_hgroup"
                  "ProductsDetail_article"
                  "ProductsDetail_aside "
                  /* "ProductsDetail_main" */
                        ; /* 2.區域分為4行兩列 */
    grid-template-rows: 680px 500px 311px 400px ; /* 3.各區域 寬高設置 */
    grid-template-columns:500px 1fr ;
  }
  
  tr.ProductsDetail_pic2{
    display: none;
  }
  .ProductsDetail_other-wrapp {
   height: 375px;
  }
                        
}