#ProductsDetail_section {
  font-family: var(--font-family);
  display: grid; /* 1.設定 display 為 grid */
  width: 100vw;
  height: 100%;
  grid-template-areas:
                       "ProductsDetail_figure  ProductsDetail_hgroup"
                       "ProductsDetail_article  ProductsDetail_article"
                       "ProductsDetail_aside  ProductsDetail_aside"
                       "ProductsDetail_main  ProductsDetail_main" 
                      ; /* 2.區域分為4行兩列 */
  grid-template-rows:  950px 500px 450px 500px; /* 3.各區域 寬高設置 */
  grid-template-columns: 855px 1fr;
}
#ProductsDetail_container_fluid{
  align-items: center;
  width:100vw;
}

/* figure */

#ProductsDetail_section > #ProductsDetail_figure {
  grid-area: ProductsDetail_figure;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.ProductsDetail_img-pic{
  margin: 0 0 0 250px;
  width: 30vw;
  object-fit: cover;
}
 
/* hgroup */

#ProductsDetail_section > #ProductsDetail_hgroup {
  grid-area:ProductsDetail_hgroup;
  display: flex;
  justify-content: center;
  position: relative;
 
}
.ProductsDetail_card-text{
  color:#CAB296;  
  margin: 0;
}
/* article */

#ProductsDetail_section > #ProductsDetail_article {
  grid-area:ProductsDetail_article;
  display: flex;
  justify-content: center;
  position: relative;
 
}
.ProductsDetail_Detail {
  width: 100vw;
}
.ProductsDetail_addCar-button{
  background-color: #C9D7E3;
  border: none;
  width: 400px;
  padding: 20px;
}
#ProductsDetail_main{
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.ProductsDetail_main-wrap{
  width: 100vw;
  background-color:#EAEAEA;
}

.ProductsDetail__card-text{
  max-width: 230px;
  padding: 10px;
  
}

.ProductsDetail_other-wrapp ,.ProductsDetail_price_item,.ProductsDetail_addCar,.ProductsDetail_slider-pic,.ProductsDetail_main-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ProductsDetail_p{
  width: 20vw;
  margin: 0 0;
  
}
.ProductsDetail_price_item{
  margin: 0 0 35px 0;
}
.ProductsDetail_card-pic{
  padding: 5px;
  align-items: center;
  object-fit: contain;
}

p.ProductsDetail_price{
  margin-bottom:0px;
}
.ProductsDetail_nav-wrapper{
  width: 400px;
  position: absolute;
  top: 150px;
  margin-right: 100px;
}


.ProductsDetail_addCar-bottom{
  display: none;
}

.ProductsDetail_carousel-products{
  width: 468px;
  height:570px;
  padding: 10px;
}

.ProductsDetail_page-link{
  position:absolute;
  top: 20px;
  left:50px;
  letter-spacing: 3px;
}

.ProductsDetail_other-wrapp {
  background-attachment: fixed;
  height: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.ProductsDetail_other-product{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  margin-top: 60px;
}

.ProductsDetail_card-img-top{
  width: 200px;
  object-fit:contain;
  position: relative;
  
}
.ProductsDetail_pic-img{
  height: 330px;
  padding: 20px;
  object-fit:contain;
} 

.ProductsDetail__card-text{
  max-width:100%;
  height: 56px;
  padding:0 10px  10px  10px;
  
}

p.ProductsDetail_article{
  color:#CAB296;
  margin-bottom:0px;
}

#ProductsDetail_section > #ProductsDetail_article {
  grid-area: ProductsDetail_article;
  display: flex;
  text-align:center;
  justify-content: center;    
}
.ProductsDetail_follow{
  background-color: black;
  color:#F9F7F2;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
}
.ProductsDetail_demo-pic{
  height: 350px;
  display: flex;
  text-align:center;
  justify-content: center;   
}
.ProductsDetail_blockquote{
  width: 350px;
}
#ProductsDetail_section > #ProductsDetail_aside  {
  grid-area: ProductsDetail_aside;
  text-align:center;
  justify-content: center; 
  background-color: transparent;   
}
.ProductsDetail_card-body-wrap{
  padding: 10px;
  max-width: 400px;
}


.ProductsDetail_Detile,.ProductsDetail_aside-wrapp,.ProductsDetail_footer-wrapp{
  height:411px;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.ProductsDetail_article-wrap{
  height: 350px;
}
.ProductsDetail_more{
  z-index: 1000;
  margin: 15px 0px  0   0;
}

.ProductsDetail_card-body{
  display: flex;
  align-items: center;
  justify-content: center;    
}

.ProductsDetail_d-inline{
  background-color:transparent ;
  max-width: 330px;
  
}
.ProductsDetail_demobox{
  position: relative;
  height: 50vh;
}
.ProductsDetail_Pic{
  position: absolute;
  height: 30vh;
  z-index: 1000;
  margin: 40px 0  0 240px ;
  box-shadow: 3px 3px 10px rgba(123, 123, 129, 0.7);
  object-fit:scale-down;
  
}

.ProductsDetail_Detail-text{
  display: inline-block;
  justify-content: center;
  padding: 15px;
}
.ProductsDetail_Detail{
  display: flex;
  align-items: center;
  justify-content: center;  
  height: 350px;
  margin-top:55px;
}
.ProductsDetail_artistLink{
  width:80vw;
  display: flex;
  justify-content: center;
}
.ProductsDetail_artistPic{
  width:300px;
  opacity: cover;
}
.ProductsDetail_card{
  background-color: transparent !important;
  border-style: none !important;
  margin: 10px;
}
.ProductsDetail_carousel-more{
  width: 300px;
}

.model-bg-color{
  background: rgba(0, 0, 0, 0.5);
}
.btn-primary{
  background: var(--color-footer);
  border: var(--color-footer) solid 1px;
}

/* main */

.ProductsDetail_main-wrap＿550{
  display: none;
}

.ProductsDetail_more{
  position: absolute;
}

@media screen and (max-width: 990px){
  #ProductsDetail_container_fluid{
    width:700px;
  }
  #ProductsDetail_section  {
    display: grid; /* 1.設定 display 為 grid */
    width: 100%;
    height: 100%;
    grid-template-areas:
                         "ProductsDetail_figure  ProductsDetail_hgroup"
                         "ProductsDetail_article  ProductsDetail_article"
                         "ProductsDetail_aside  ProductsDetail_aside"
                         /* "ProductsDetail_main  ProductsDetail_main" */
                        ; /* 2.區域分為4行兩列 */
    grid-template-rows: 846px 250px 411px  ; /* 3.各區域 寬高設置 */
    grid-template-columns: 350px 1fr;
  }
 
  .ProductsDetail_addCar-bottom{
    display: none;
  }
  h6 .ProductsDetail_h6{
  
    width:150px;
    height: auto;
  }

  .ProductsDetail_other-product{
    margin-top: 0px;
  }

  .ProductsDetail_pic-img{
    max-width:100%;
    height: 180px;
    padding: 10px;
    object-fit:contain;
  } 
  .ProductsDetail__card-text{
    max-width:100%;
    height: 40px;
    padding:0 10px  10px  10px;
   
  }
  
  .ProductsDetail_Detail{
    width:472px;
    height: 167px;
  }
  .ProductsDetail_demoPic{
    width: 200px;
  }
  .ProductsDetail_other-wrapp {
    height: 375px;
   }

 }

@media screen and (max-width: 700px){
  #ProductsDetail_section  {
    display: grid; /* 1.設定 display 為 grid */
    width: 100%;
    height: 100%;
    grid-template-areas:
                         "ProductsDetail_figure"
                         "ProductsDetail_hgroup"
                         "ProductsDetail_article"
                         "ProductsDetail_aside"
                         /* "ProductsDetail_main" */
                        ; /* 2.區域分為4行兩列 */
    grid-template-rows: 680px 500px 311px 400px ; /* 3.各區域 寬高設置 */
    grid-template-columns: 550px ;
  }
 
  .ProductsDetail_aside-wrapp{
    height: 311px;
  }
  
  #ProductsDetail_figure {
    position: relative;
  
  }

.ProductsDetail_pic-img{
  height: 30vh;
  padding: 10px;
  object-fit:contain;
} 
.ProductsDetail__card-text{
  max-width:100%;
  height: 40px;
  padding:0 10px  10px  10px;
 
}

  .ProductsDetail_addCar{
    display: none;
  }
  .ProductsDetail_addCar-bottom{
    padding: 20px;
    background-color:#C9D7E3 ;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
    position: fixed;
    bottom: 0;
  } 
 
  
}
@media screen and (max-width: 550px){
  #ProductsDetail_section  {
    display: grid; /* 1.設定 display 為 grid */
    width: 100vw;
    height: 100%;
    grid-template-areas:
                  "ProductsDetail_figure "
                  "ProductsDetail_hgroup"
                  "ProductsDetail_article"
                  "ProductsDetail_aside "
                  /* "ProductsDetail_main" */
                  ; /* 2.區域分為4行兩列 */
    grid-template-rows: 550px 450px 700px 550px ; /* 3.各區域 寬高設置 */
    grid-template-columns:100vw ;
  }
  #ProductsDetail_container_fluid{
    width:100vw;
    padding: 0;
  }
  .ProductsDetail_figure{
    width:100vw;
  }

  .ProductsDetail_other-wrapp {
   height: 375px;
  }

  .ProductsDetail_img-pic{
    width: 100vw;
    margin: 0;
  }
  .ProductsDetail_p{
    font-size: 16px;
    margin: 0;
    width: 100vw;
    padding: 15px;
  }

  .ProductsDetail_demobox{
    position: relative;
    height: 30vh;
  }
  
     
  .ProductsDetail_nav-wrapper{
    width: 100vw;
    position: absolute;
    top: 0px;
    margin: 0;
    padding: 10px;
  }
  .ProductsDetail_main-wrap{
    width: 414px;
  }
  .ProductsDetail_addCar-bottom{
    padding: 20px;
    background-color:#C9D7E3 ;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100vw;
    position: fixed;
    bottom: 0;
  } 
  .ProductsDetail_page-link{
    display: none;
    
  }
  .ProductsDetail_Detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
  }

  .ProductsDetail_Pic{
    position: absolute;
    height: 20vh;
    z-index: 1000;
    margin: 30px 0  0 200px ;
    box-shadow: 3px 3px 10px rgba(123, 123, 129, 0.7);
    object-fit:scale-down;
    
  }

  /* article */
  .ProductsDetail_Detail-text{
      display: flex;
      justify-content: center;
      padding: 0;
   
  }
  .ProductsDetail_artistLink{
    flex-direction: column;
  }

  .ProductsDetail_Pic{
    position: absolute;
    height: 13vh;
    z-index: 1000;
    margin: 40px 0  0 160px ;
    box-shadow: 3px 3px 10px rgba(123, 123, 129, 0.7);
    object-fit:scale-down;
    
  }

  /* main */

.ProductsDetail_main-wrap,.ProductsDetail_more{
  display: none;
  
}
                     
}